* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 10px;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1rem 8rem;
}
.logo {
  font-size: 24px;
  font-weight: 600;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
}
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
}
.signup-section {
  height: 15rem;
  padding: 1rem 8rem;
  background-color: #1f2937;
  color: #f9faf8;
}
.signup-text {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 50%;
}

.button {
  padding: 5px 25px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #3882f6;
}

.signup-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section {
  padding: 3rem 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
